<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763555864410-o0kfgsn3akckg76v7eq3ctmepc68bqi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763555864410-o0kfgsn3akckg76v7eq3ctmepc68bqi4</string>
	<key>API_KEY</key>
	<string>AIzaSyAQZkMbsESs_IxDAemC-_xAOJZgtFY4gpo</string>
	<key>GCM_SENDER_ID</key>
	<string>763555864410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crossword</string>
	<key>PROJECT_ID</key>
	<string>crossword-8e698</string>
	<key>STORAGE_BUCKET</key>
	<string>crossword-8e698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763555864410:ios:d08ebe9ba7873d7e899d63</string>
</dict>
</plist>